* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  
  background: transparent;
  
  font-family: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  display: block;

  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button, a {
  color: inherit;
  
  cursor: pointer;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  border-radius: 0;
  appearance: none !important;
  -webkit-appearance: none !important;
}
